{
  "src/**/*.{ts,tsx}": ["eslint --fix", "prettier --config .prettierrc --write"],
  "__tests__/**/*.{ts,tsx}": ["eslint --fix", "prettier --config .prettierrc --write"],
  "src/**/*.{css,scss,json}": ["prettier --config .prettierrc --write"]
}
