.form {
    border: 2px solid var(--primary);
    padding: 16px;
    border-radius: 6px;
    overflow: hidden;
    max-width: 460px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #ffefd5;
}

.formGroup {
    width: 100%;

    & + & {
        margin-top: 16px;
    }
}

.heading {
    text-align: center;
    font-size: 26px;
    user-select: none;
    font-weight: 600;
}

.label {
    color: var(--secondary);
    font-weight: 500;
}

.input {
    margin-top: 4px;
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    overflow: hidden;
    transition: all linear 0.1s;

    &:hover {
        border: 1px solid var(--secondary);
    }

    &:focus-within {
        border: 1px solid var(--primary);
    }

    & input {
        padding: 16px;
        width: 100%;
        flex: 1;
        border: none;
        outline: none;
    }
}

.showContentBtn {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: auto 0;
    margin-right: 16px;
    cursor: pointer;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.forgotPassword {
    text-align: right;
    width: 100%;
    font-weight: 500;

    &:hover {
        opacity: 0.8;
    }
}

.btn {
    background-color: var(--primary);
    transition: all ease-in 0.2s;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    border-radius: 8px;
    font-size: 18px;
    user-select: none;
    font-weight: 500;

    &:hover {
        background-color: var(--primary);
        opacity: 0.9;
    }

    &:active {
        transform: scale(0.8);
    }
}

.navigation {
    text-align: center;
    width: 100%;

    & span {
        font-weight: 500;
        user-select: none;
    }

    & .link {
        color: var(--primary);
    }

    & .link:hover {
        filter: brightness(0.8);
    }
}

.more {
    display: flex;
    align-items: center;

    & span {
        z-index: 1;
        font-size: 16px;
        padding: 0 10px;
        color: #c3c3c3;
    }

    & .horizontalLine {
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex: 1;
    border: 1px solid var(--secondary);
    padding: 8px 10px;
    border-radius: 4px;

    & span {
        font-size: 16px;
        font-weight: 500;
    }

    &:hover {
        opacity: 0.8;
    }

    &:active {
        transform: scale(0.8);
    }
}
