@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base, components, utilities;

@layer base {
  :root {
    --primary: #fe5621;
    --secondary: #2a435d;
    --header-height: 80px;
    --content-max-width: 1120px;
  }

  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  * {
    box-sizing: inherit;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  // custom responsiveness layout
  .inner {
    display: block;
    max-width: var(--content-max-width); //1120px
    width: 100%;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
  }

  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  // desktop
  @media screen and (min-width: 1025px) {
    .row .col-lg-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .row .col-lg-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .row .col-lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .row .col-lg-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }

    .row .col-lg-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  }

  // tablet
  @media screen and (min-width: 641px) and (max-width: 1024px) {
    .inner {
      width: 96vw;
    }

    .row .col-md-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .row .col-md-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }

    .row .col-md-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .row .col-md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .row .col-md-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .row .col-md-8 {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  }

  // mobile
  @media screen and (max-width: 640px) {
    .inner {
      width: 94vw;
    }

    .row .col-sm-0 {
      display: none;
    }

    .row .col-sm-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .row .col-sm-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .row .col-sm-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .row .col-sm-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
  }
}
