.header {
    height: var(--header-height);
    padding: 2px 0;
}

.inner {
    width: 100%;
    height: 100%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.part {
    display: flex;
    height: 100%;
    align-items: center;
}

// header icon + navigation CSS
.navigation {
    height: 100%;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: center;
    margin-left: 16px;
}

.item {
    display: inline-block;
    font-size: 16px;
    padding: 0 16px;

    & + & {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
}

.logoLink {
    width: 68px;
    height: 68px;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.logoImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

// header cart account CSS
.btn {
    min-width: 100px;
    border-radius: 4px;
    transition: all ease-in 0.2s;
    background-color: var(--primary);
    color: #fff;

    &:active {
        transform: scale(0.9);
    }

    &:hover {
        filter: brightness(0.9);
    }
}

.cart {
    // margin-right: 26px;
    position: relative;
    border-radius: 50%;
    color: #fff;
    transition: all ease-in 0.1s;

    &:hover {
        filter: brightness(0.8);
    }
}

.cartIcon {
    width: 36px;
    height: 36px;
    color: var(--secondary);
}

.cartBadge {
    font-weight: bolder;
    position: absolute;
    min-width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
    padding: 2px;
    background-color: var(--primary);
    top: 0;
    right: 0;
}

// User option box CSS
.user {
    position: relative;
    margin-left: 16px;
    &:hover .option_box {
        display: block;
    }
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 16px;
    object-fit: contain;
    object-position: center;
}

.option_box {
    position: absolute;
    right: 0;
    display: none;
    top: 110%;
    padding: 8px 0;
    margin: 0;
    min-width: 200px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    z-index: 10;
    transform-origin: bottom;
    animation: fadeIn 0.2s linear;

    &::after {
        content: '';
        width: 100%;
        height: 20px;
        background-color: transparent;
        position: absolute;
        top: -20px;
        right: 0;
    }

    &::before {
        content: '';
        width: 0;
        height: 0;
        border-width: 18px;
        border-color: transparent transparent #fff transparent;
        position: absolute;
        bottom: 92%;
        right: 16px;
        z-index: -1;
    }

    & li {
        width: 100%;
        padding: 8px 10px;
        font-size: 16px;
        font-weight: 500;
        color: var(--secondary);
        transition: all ease-in 0.1s;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
            color: var(--primary);
        }
    }

    & li:last-child {
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        margin-top: 8px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        display: none;
    }
    to {
        opacity: 1;
        display: block;
    }
}

// Drawer CSS
.bar {
    outline: none;
    display: none;
    transition: all linear 0.2s;
    opacity: 0;
    border: 1px solid #000;
    padding: 6px 2px;
}

.icon {
    color: var(--secondary);
    min-width: 36px;
    height: 36px;
    display: inline-block;
}

.text {
    color: var(--secondary);
    font-weight: 500 !important;
}

.icon.active,
.text.active {
    color: var(--primary);
}

.drawerImage {
    min-width: 40px;
    height: 32x;
    border-radius: 50%;
    object-fit: contain;
    object-position: center;
}

.drawerBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    margin: 0 auto;
    padding: 8px 16px;
    border-radius: 2px;
    margin-top: 10px;

    & .icon {
        color: #fff;
        width: 26px;
        height: 26px;
    }

    & .text {
        color: #fff;
        font-size: 18px;
        font-weight: 600;
        display: inline-block;
        margin-left: 6px;
    }
}

.closeDrawer {
    display: block;
    text-align: right;
    padding: 10px 0;

    & .icon {
        width: 26px;
        height: 26px;
    }

    & .icon:hover {
        opacity: 0.8;
    }
}

.searchBoxUnLogin {
    display: flex;
    height: 100%;
    align-items: center;
    width: 200px;
    margin-right: 10px;
    transition: width 0.8s;
}

.searchBoxLogin {
    display: flex;
    height: 100%;
    align-items: center;
    width: 300px;
    margin-right: 10px;
    transition: width 0.8s;
}

@media screen and (max-width: 1120px) {
    .searchBoxUnLogin {
        width: 140px;
    }
}

// @media screen and (max-width: 984px)
@media screen and (max-width: 1023px) {
    .navigation,
    .account,
    .cart {
        display: none;
    }

    .inner {
        padding: 0 16px;
    }

    .searchBoxUnLogin,
    .searchBoxLogin {
        width: 40%;
        margin: 0;
    }

    .bar {
        display: block;
        opacity: 1;
    }
}
