@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #fe5621;
    --secondary: #2a435d;
    --header-height: 80px;
    --content-max-width: 1120px;
  }

  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  * {
    box-sizing: inherit;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  // custom responsiveness layout
  .inner {
    display: block;
    max-width: var(--content-max-width); //1120px
    width: 100%;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -8px;
    margin-right: -8px;
  }

  .col {
    padding-left: 8px;
    padding-right: 8px;
  }

  // desktop
  @media screen and (min-width: 1025px) {
    .inner .col.lg-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .inner .col.lg-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .inner .col.lg-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .inner .col.lg-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }

    .inner .col.lg-8 {
      flex: 0 0 66.66667%;
      max-width: 0 0 66.66667%;
    }
  }

  // tablet
  @media screen and (min-width: 641px) and (max-width: 1024px) {
    .inner {
      width: 96vw;
    }

    .inner .col.md-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .inner .col.md-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }

    .inner .col.md-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }

    .inner .col.md-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .inner .col.md-4 {
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
    }

    .inner .col.md-8 {
      flex: 0 0 66.66667%;
      max-width: 0 0 66.66667%;
    }
  }

  // mobile
  @media screen and (max-width: 640px) {
    .inner {
      width: 94vw;
    }

    .inner .col.sm-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .inner .col.sm-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }

    .inner .col.sm-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
  }
}
